@import "tailwindcss";

@theme {
  /* Colores oficiales de ADEMI */
  --color-primary: #0095A9;
  --color-secondary: #FA6C26;
  --color-background: #F5F6FB;
  --color-text: #0C0A18;

  /* Fuente */
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
